{% extends "UnoegohhShopBundle:Default:index.html.twig" %}
{% block title %}Заказ оформлен{% endblock %}

{% block main %}
    <div class="col2">
        <h2 class="heading">Заказ оформлен</h2>
        <div class="static">
            <p>В ближайшее время с вами свяжутся наши специалисты</p>
        </div>
    </div>
{% endblock %}