{% extends "UnoegohhShopBundle:Default:index.html.twig" %}
{% block title %}Сообщение отправленно{% endblock %}

{% block main %}<div class="col2">
    <h2 class="heading">Спасибо!</h2>
    <div class="static">
        <p>Сообщение отправленно, скоро с вами свяжутся наши специалисты!</p>
    </div>
</div>
{% endblock %}